<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BcsWeb</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">


{#    TODO#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

</head>
<body>

<div id="top">
    <a href="{{ url_for('home') }}">Brain and Cognitive Science University</a>
</div>

<div id="menu">
    <ul class="nav nav-pills nav-justified">
        <li class="nav_spacer"></li>
        <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
        <li role="presentation"><a href="{{ url_for('modules') }}">Modules</a></li>
        <li role="presentation"><a href="{{ url_for('blog') }}">Blog</a></li>
        <li role="presentation"><a href="{{ url_for('about') }}">About</a></li>
        <li class="nav_spacer"></li>
    </ul>
</div>

<div id="content">{% block content %}{% endblock %}</div>

<div id="app"></div>

<div id="footer">
    <div class="container-fluid">
        <hr>
        <ul class="nav nav-pills nav-justified">
            <li role="presentation">&copy; Copyright 2018 by philhuebner.com.</li>
        </ul>
    </div>
</div>


<script src="{{ url_for("static", filename="dist/bundle.js") }}"></script>

</body>
</html>