{% extends "base.html" %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body content-text">
            <p>Please login to view restricted content</p>

            <p>{{ branch }}</p>
            <p>{{ leaf }}</p>

        </div>

        <div class="panel-body">
            <form class="form-inline"  action="{{ url_for('login', branch=branch, leaf=leaf) }}" method="POST">
                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
            </form>

        </div>

    </div>

{% endblock %}