{% extends "base.html" %}

{% block content %}

    <div class="wrapper">

        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                {% for node in nodes %}
                    {{ loop.index0 * 4 * '&nbsp;' | safe}}
                    {%  if loop.index == loop.length %}
                        <a href={{ url_for('module', branch='/'.join(nodes), leaf='landing') }}>
                            &rArr; {{ node.replace('_', ' ') }}
                        </a>
                    {%  else %}
                        &rArr; {{ node.replace('_', ' ') }}
                    {%  endif %}
                    <hr>
                {% endfor %}
            </div>

            <ul class="list-unstyled components">

                {%  if submodules %}
                    <p>Submodules</p>
                    {{ submodules | safe }}
                {%  endif %}
{#                <p>Miscellaneous</p>#}

            </ul>

        </nav>

        <!-- Page Content Holder -->
        <div id="content-module">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% for i in range(3) %}
                                <li><a href="#">{{ i }}</a>      </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <table>
                        <tr>
                            <td>{{ heading }}</td>
                            <td>
                                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="panel-body">
                    {{ content | safe }}
                </div>
            </div>


        </div>
    </div>


    <script>
    /* module side menu script */
	/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-jw");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
    </script>


    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


{% endblock %}



