@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #171933;
    transition: all 0.3s;
    border-radius: 3px;
    border: 0 solid darkorange;
    border-right-width: 5px;
}

/*sidebar is deactivated*/
#sidebar.active {
    visibility: hidden;
    opacity: 0;
    margin-left: -250px;
}

/*top of sidebar*/
#sidebar .sidebar-header hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#sidebar .sidebar-header {
    padding: 10px;
}

#sidebar .sidebar-header a {
    padding: 10px;
    color: darkorange;
    text-decoration: none;
}

/*list of dummy headings*/
#sidebar ul.components {

}

/*dummy heading (does not have dropdown)*/
#sidebar ul p {
    color: #fff;
    padding: 10px;
    font-size: 1.0em;
}


/*dropdown caret*/
#sidebar ul li a span {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*dropdown 0th level */
#sidebar ul li a {
    padding: 10px;
    font-size: 1.0em;
    display: block;
    text-decoration: none;
    position: relative;  /*required to position caret*/
    background: #171940;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

/*dropdown 1st level*/
#sidebar ul ul li a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #181B4B;
}

/*dropdown 2nd level*/
#sidebar ul ul ul li a {
    font-size: 0.8em !important;
    padding-left: 60px !important;
    background: #191c55;
}

/*dropdown 4th level*/
#sidebar ul ul ul ul li a {
    font-size: 0.7em !important;
    padding-left: 90px !important;
    background: #191C55;
}

/*this affects module tree in unexpected way - how to restrict this to aparticular url?*/
@media (max-width: 768px) {
    #sidebar {
        visibility: hidden;
        opacity: 0;
        margin-left: -250px;
    }
    #sidebar.active {
        visibility: visible;
        opacity: 100;
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #content {
        padding-right: 0;
        padding-left: 0;
    }

}